<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment_3.Properties.Settings.AgileDevelopmentConnectionString"
            connectionString="Data Source=agiledevunisa.database.windows.net;Initial Catalog=AgileDevelopment;Persist Security Info=True;User ID=Agile;Password=Geek4335!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>